/**************************
BASE
***************************/
#outlook a {
  padding:0;
}


/* Outlook First */

body.outlook p {
  display: inline !important;
}

.ExternalClass {
  width:100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

body, center.body, .body {
  width:100% !important;
  table-layout: fixed;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  Margin:0;
  padding:0;
  background-color: $background-color;
}


.webkit{
    max-width: $container-width;
    Margin: 0 auto;
}



.text-right {
  text-align:right;
}
.middle {
  vertical-align:middle;
}

img {
  outline:none;
  text-decoration:none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block;
  border:0;
  height:auto;
}


a img {
  border: none;
}

p {
  Margin: 0 0 0 10px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family:$base-font-family;
  color:$base-font-color;
  font-size:$base-font-size;
  line-height:$base-line-height;
}

td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

hr {
  color: $border-color;
  background-color: $border-color;
  height: 1px;
  border: none;
}

.spacer {
  height:$spacer;
}
.spacer-half {
  height:$spacer/2;
}
.spacer-third {
  height:$spacer/3;
}
