/**************************
GRID
***************************/

/* Responsive Grid */

table.body {
  height: 100%;
  width: 100%;
}

table.container {
  width:100%;
  max-width: $container-width;
  Margin:0 auto;
}

.row {
  padding: 0px;
  width: 100%;
  max-width:100%;
  position: relative;
  Margin: 0 auto;
}

.container .row {
  display: block;
}

td.wrapper {
  padding: 10px 20px 0px 0px;
  position: relative;
}

.columns,
.column {
  Margin: 0 auto;
}

.columns,
.column {
  padding: 0px;
  td img {
    Margin-bottom:10px;
  }
}

td {
  .inner, &.inner{
    padding:0 10px;
  }
}




.column table {
  width:100%;
}

.stacked-columns {
  .column {
    Margin-bottom:$spacer/2;
  }
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  width:100%;
  display:inline-block;
  vertical-align:top;
  Margin:0 auto;
}

.one { max-width: 30px; }
.two { max-width: 80px; }
.three { max-width: 145px; }
.four { max-width: 193px; }
.five { max-width: 240px; }
.six { max-width: 290px; }
.seven { max-width: 340px; }
.eight { max-width: 380px; }
.nine { max-width: 435px; }
.ten { max-width: 480px; }
.eleven { max-width: 530px; }
.twelve { max-width: 580px; }


.one .panel center { max-width: 10px; }
.two .panel center { max-width: 60px; }
.three .panel center { max-width: 110px; }
.four .panel center { max-width: 160px; }
.five .panel center { max-width: 210px; }
.six .panel center { max-width: 260px; }
.seven .panel center { max-width: 310px; }
.eight .panel center { max-width: 360px; }
.nine .panel center { max-width: 410px; }
.ten .panel center { max-width: 460px; }
.eleven .panel center { max-width: 510px; }
.twelve .panel center { max-width: 560px; }


.offset-by-one { padding-left: 50px; }
.offset-by-two { padding-left: 100px; }
.offset-by-three { padding-left: 150px; }
.offset-by-four { padding-left: 200px; }
.offset-by-five { padding-left: 250px; }
.offset-by-six { padding-left: 300px; }
.offset-by-seven { padding-left: 350px; }
.offset-by-eight { padding-left: 400px; }
.offset-by-nine { padding-left: 450px; }
.offset-by-ten { padding-left: 500px; }
.offset-by-eleven { padding-left: 550px; }

.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}

.text-pad,
.text-pad {
  padding-left: 10px;
  padding-right: 10px;
}

.left-text-pad,
.text-pad-left,
.left-text-pad,
.text-pad-left {
  padding-left: 10px;
}

.right-text-pad,
.text-pad-right,
.right-text-pad,
.text-pad-right {
  padding-right: 10px;
}

.panel {
  background: $panel-bkgrd-color;
  border: 1px solid $panel-border-color;
  border-radius:4px;
  padding: 20px !important;
  p {
    Margin:0;
  }
}
